<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!--<link href="Content/ionic.min.css" rel="stylesheet"/>-->
    <link href="css/ionic.min.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet"/>  
    <link href="css/ionic.eclair.theme.css" rel="stylesheet"/>
    <link href="css/animate.min.css" rel="stylesheet"/>

    <!-- MPwithAngularJS references -->
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/angular-loader.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-sanitize.min.js"></script>
    <script src="scripts/angular-touch.min.js"></script>
    <script src="scripts/angular-ui-router.min.js"></script>
    <script src="scripts/ionic.min.js"></script>
    <script src="scripts/ionic-angular.min.js"></script>

    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/ng-cordova.js"></script>

    <script src="indexAngular.js"></script>
    <script src="scripts/index.js"></script>
    <script src="controllers/CollectCtrl.js"></script>
    <script src="controllers/CompleteCtrl.js"></script>
    <script src="controllers/FooterBtnCtrl.js"></script>
    <script src="controllers/HeaderBtnCtrl.js"></script>
    <script src="controllers/HomeCtrl.js"></script>
    <script src="controllers/OrderCtrl.js"></script>
    <script src="controllers/PatientCtrl.js"></script>
    <script src="controllers/DeviceStatusCtrl.js"></script>
    <script src="controllers/ScheduleCtrl.js"></script>
    <script src="controllers/SideMenuBtnCtrl.js"></script>
    <script src="controllers/SliderPageCtrl.js"></script>
    <script src="controllers/SubHeaderCtrl.js"></script>
    <script src="controllers/UserCtrl.js"></script>
    <script src="directives/Directives.js"></script>
    <script src="services/ChbxSpecimenService.js"></script>
    <script src="services/CordovaReadyService.js"></script>
    <script src="services/DeviceStatusService.js"></script>
    <script src="services/FooterBtnService.js"></script>
    <script src="services/GlobalIdService.js"></script>
    <script src="services/HeaderBtnService.js"></script>
    <script src="services/LabelPrintService.js"></script>
    <!--<script src="services/NotificationDlgService.js"></script>--> 
    <script src="services/ScanBarcodeService.js"></script>
    <script src="services/SliderPageService.js"></script>
    <script src="services/SubHeaderService.js"></script>
    <script src="services/WebEclairService.js"></script>


</head>
<body>
<ion-side-menus>
    <ion-side-menu-content>
        <ion-header-bar align-title="center" class="bar-light" ng-controller="HeaderBtnCtrl">
            <button class="button button-icon ion-navicon-round" style="color: #00539F;" ng-click="btnSideMenu()"></button>
            <h1 class="title">
                <img src="./Content/images/product_logo.png" width="127" height="20"/>
            </h1>
            <button class="button button-icon ion-edit" style="color: #00539F;" ng-show="editButton.isVisible" ng-click="btnEditList()"></button>
        </ion-header-bar>
        <ion-header-bar class="bar bar-subheader" ng-controller="DeviceStatusCtrl" ng-show="device.hasSubheader">
            <button ng-controller="HeaderBtnCtrl" class="button button-icon button-block button-card ion-plus-round" style="margin: 0" ng-click="addComment()">Comment</button>
        </ion-header-bar>
        <ion-content padding="false" class="scroll-content has-header" ng-controller="DeviceStatusCtrl"
                     ng-class="{'has-subheader': device.hasSubheader, 'contentWithLogo': device.isRegistered == false, 'has-footer': device.isRegistered}">
            <div class="progress-Bar" ng-controller="DeviceStatusCtrl" ng-show="device.isRegistered">
                <div class="slider-pager" ng-controller="SliderPageCtrl">
                    <div class="slider-pager-page" ng-repeat="slides in pages | filter:{visable : true}" ng-class="{active: slides.active}" id="{{slides.index}}">
                        <i class="icon ion-record"></i>
                    </div>
                </div>
            </div>
            <div ng-view></div>
        </ion-content>       
        <ion-footer-bar class="bar-light" style="padding: 0;" ng-controller="DeviceStatusCtrl" ng-show="device.isRegistered">
            <div class="button-bar" ng-controller="FooterBtnCtrl">
                <button class="button button-footer icon-left ion-arrow-left-a" ng-show="leftButton.isVisible" ng-click="btnLeft()">{{leftButton.title}}</button>
                <button class="button button-footer" ng-show="middleButton.isVisible" ng-click="btnMiddle()">{{middleButton.title}}</button>
                <button class="button button-footer icon-right ion-arrow-right-a" ng-show="mainButton.isVisible" ng-click="btnMain()">{{mainButton.title}}</button>
            </div>
        </ion-footer-bar>
</ion-side-menu-content>
    <ion-side-menu class="sideMenu" side="left" ng-controller="SideMenuBtnCtrl">
        <div class="item item-divider">
            <div class="item item-toggle">
                Device active
                <label class="toggle-eclair toggle" ng-controller="DeviceStatusCtrl">
                    <input type="checkbox" ng-model="device.isRegistered" ng-change="deviceActiveChanged()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <ion-content class="scroll-content" style="top: 88px; bottom: 65px;">
            <div class="list">
                <div class="item" ng-click="btnHome()">
                    <i class="icon ion-home"></i>
                    <span style="padding-left: 10px;">Home</span>
                </div>
                <label class="item item-input item-select" ng-click="btnBluetooth()" ng-init="init()">
                    <i class="icon ion-bluetooth"></i>
                    <span style="padding-left: 10px;">
                        {{bluetooth}}
                    </span>
                    <select class="select" ng-model="selectedPrinter" ng-options="printer.name for printer in printerOptions" ng-change="onPrinterSelected(selectedPrinter)"></select>
                </label>
                <div class="item" ng-click="btnHome()">
                    <i class="icon ion-gear-b"></i>
                    <span style="padding-left: 10px;">Setting</span>
                </div>
                <div class="item" ng-click="btnManageDevice()" ng-controller="DeviceStatusCtrl">
                    <i class="icon ion-iphone"></i>
                    <span style="padding-left: 10px;">Manage Device</span>
                </div>
                <div class="item" ng-click="btnHome()">
                    <i class="icon ion-locked"></i>
                    <span style="padding-left: 10px;">Security Pin</span>
                </div>
                <div class="item" ng-click="btnHome()">
                    <i class="icon ion-android-bulb"></i>
                    <span style="padding-left: 10px;">Quick Tips</span>
                </div>
                <div class="item item-divider"></div>
                <div class="item" ng-click="btnHome()">
                    <i class="icon ion-toggle-filled"></i>
                    <span style="padding-left: 10px;">Register Device</span>
                </div>
                <div class="item" ng-click="btnUregisterDevice()" ng-controller="DeviceStatusCtrl">
                    <i class="icon ion-toggle"></i>
                    <span style="padding-left: 10px;">Unregister Device</span>
                </div>
                <div class="item item-divider"></div>
                <div class="item" ng-click="btnHome()">
                    <i class="icon ion-ios-telephone"></i>
                    <span style="padding-left: 10px;">Contact Sysmex</span>
                </div>
            </div>
        </ion-content>
        <div class="Sysmex-logo-box">
            <img src="images/sysmex_logo.png" style="width: 108px; height: 35px;" />
        </div>
    </ion-side-menu>
</ion-side-menus>

</body>
</html>

<script id="unauthorised-error.html" type="text/ng-template">
    <div class="item item-icon-left" style="border: 0; white-space: normal; background-color: transparent; padding: 12px 8px 12px 65px;">
        <i class="icon ion-close-circled" style="color: #E83836; font-size: 45px;"></i>
        Unauthorised access
    </div>
</script>

<script id="mismatched-error.html" type="text/ng-template">
    <div class="item item-icon-left" style="border: 0; white-space: normal; background-color: transparent; padding: 8px 8px 8px 65px;">
        <i class="icon ion-close-circled" style="color: #E83836; font-size: 45px;"></i>
        Mismatched order. Please check
    </div>
</script>

<script id="usercodeAndPin-Warning.html" type="text/ng-template">
    <div class="item item-icon-left" style="border: 0; white-space: normal; background-color: transparent; padding: 8px 8px 8px 65px;">
        <i class="icon ion-alert-circled" style="color: #FCC810 ; font-size: 45px;"></i>
        Unknown user code or pin
    </div>
</script>

<script id="noPatient-warning.html" type="text/ng-template">
    <div class="item item-icon-left" style="border: 0; white-space: normal; background-color: transparent; padding: 8px 8px 8px 65px;">
        <i class="icon ion-alert-circled" style="color: #FCC810 ; font-size: 45px;"></i>
        No patient found
    </div>
</script>

<script id="Pincode-modal.html" type="text/ng-template">
    <div class="row row-passCode" ng-init="initModal()">
        <div class="col" ng-if="passcode.substring(0, 1).length === 1">
            <button class="button icon ion-record button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(0, 1).length !== 1">
            <button class="button button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(1, 2).length === 1">
            <button class="button icon ion-record button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(1, 2).length !== 1">
            <button class="button button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(2, 3).length === 1">
            <button class="button icon ion-record button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(2, 3).length !== 1">
            <button class="button button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(3, 4).length === 1">
            <button class="button icon ion-record button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(3, 4).length !== 1">
            <button class="button button-small button-light" disabled></button>
        </div>
    </div>
    <div class="row row-numbers">
        <div class="col col-numbers">
            <button class="button button-passPopup button-light button-stretch" ng-click="add(1)">1</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-passPopup button-light button-stretch" ng-click="add(2)">2</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-passPopup button-light button-stretch" ng-click="add(3)">3</button>
        </div>
    </div>
    <div class="row row-numbers">
        <div class="col col-numbers">
            <button class="button button-passPopup button-light button-stretch" ng-click="add(4)">4</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-passPopup button-light button-stretch" ng-click="add(5)">5</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-passPopup button-light button-stretch" ng-click="add(6)">6</button>
        </div>
    </div>
    <div class="row row-numbers">
        <div class="col col-numbers">
            <button class="button button-passPopup button-light button-stretch" ng-click="add(7)">7</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-passPopup button-light button-stretch" ng-click="add(8)">8</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-passPopup button-light button-stretch" ng-click="add(9)">9</button>
        </div>
    </div>
    <div class="row row-numbers">
        <div class="col col-numbers">
            <button class="button button-passPopup ion-home button-light button-stretch" ng-click="goHome()"></button>
        </div>
        <div class="col col-numbers">
            <button class="button button-passPopup button-light button-stretch" ng-click="add(0)">0</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-passPopup ion-backspace button-light button-stretch" ng-click="delete()"></button>
        </div>
    </div>
</script>

<script id="comments-Page.html" type="text/ng-template">
    <div class="row">
        <div class="col col col-90">
            <textarea id="commentsArea" ng-model="model.comment" class="comment-textarea" placeholder="Enter comment"></textarea>
        </div>
        <div class="col">
            <div class="row-center">
                <button class="button button-icon ion-close" style="color: #E83836;" ng-click="closeModal()"></button>
            </div>
            <div class="row-bottom">
                <button class="button button-icon ion-checkmark" style="color: #00A65E;" ng-click="closeModal()"></button>
            </div>
        </div>
    </div>
</script>

<script id="prinitng-warning.html" type="text/ng-template">
    <div class="item item-icon-left" style="border: 0; white-space: normal; background-color: transparent; padding: 8px 8px 8px 65px;">
        <i class="icon ion-alert-circled" style="color: #FCC810 ; font-size: 45px;"></i>
        No device connected
    </div>
</script>

<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar>
            <h1 class="title">My Popover Title</h1>
        </ion-header-bar>
        <ion-content>
            Hello!
        </ion-content>
    </ion-popover-view>
</script>

