<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- MPwithAngularJS references -->

    <link href="Content/ionic.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <link href="css/ionic.eclair.theme.css" rel="stylesheet"/>

    <script src="scripts/ionic.bundle.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>

    <script type="text/javascript">
        var apiUrl = "http://mohammed-pc/Eclair/api/MobilePhlebotomy/";
    </script>

    <script src="indexAngular.js"></script>
    <script src="scripts/index.js"></script>
    <script src="services/CordovaReadyService.js"></script>
    <script src="services/FooterBtnService.js"></script>
    <script src="services/GlobalIdService.js"></script>
    <script src="services/HeaderBtnService.js"></script>
    <script src="controllers/FooterBtnCtrl.js"></script>
    <script src="controllers/HeaderBtnCtrl.js"></script>
    <script src="controllers/HomeCtrl.js"></script>
    <script src="controllers/UserCtrl.js"></script>
    <script src="controllers/PatientCtrl.js"></script>
    <script src="controllers/OrderCtrl.js"></script>
    <script src="controllers/CollectCtrl.js"></script>
    <script src="controllers/SideMenuBtnCtrl.js"></script>
    <script src="controllers/CompleteCtrl.js"></script>
    <script src="controllers/ScheduleCtrl.js"></script>
    <script src="services/NotificationDlgService.js"></script>
    <script src="services/LabelPrintService.js"></script>
    <script src="services/ChbxSpecimenService.js"></script>

</head>
<body>
<ion-side-menus>
    <ion-side-menu-content>
        <ion-header-bar align-title="center" class="bar-light" ng-controller="HeaderBtnCtrl">
            <button class="button button-icon ion-navicon-round" style="color: #68BD49;"  ng-click="btnSideMenu()"></button>
            <h1 class="title">
                <img src="./Content/images/product_logo.png" width="127" height="20" />
            </h1>
            <button class="button button-icon icon ion-edit" style="color: #68bd49;" ng-show="editButton.isVisible" ng-click=" btnEditList()"></button>
        </ion-header-bar>
        <ion-content padding="false" class="scroll-content has-header has-footer">
            <div ng-view></div>
        </ion-content>

        <ion-footer-bar class="bar-light" ng-controller="FooterBtnCtrl">
            <div class="button-bar">
                <button class="button button-footer icon-left ion-arrow-left-a" ng-show="leftButton.isVisible" ng-click="btnLeft()">{{leftButton.title}}</button>
                <button class="button button-footer" ng-show="middleButton.isVisible" ng-click="btnMiddle()">{{middleButton.title}}</button>
                <button class="button button-footer icon-right ion-arrow-right-a" ng-show="rightButton.isVisible" ng-click="btnRight()">{{rightButton.title}}</button>
            </div>
        </ion-footer-bar>
    </ion-side-menu-content>
    <ion-side-menu class="sideMenu" side="left" ng-controller="SideMenuBtnCtrl">
        <!--<div class="item item-divider" style="background-image: linear-gradient(#00b1e8, #0066b3); text-align: center; margin-top: 22px; border-top: 4px solid #b6d55f; border-bottom: 5px solid #b6d55f; padding: 0;">
            <img src="./Content/images/header_logo.png" width="165" height="39" style="margin-bottom: -5px;" />
        </div>-->
        <div class="item item-divider">
            <div class="item item-toggle">
                Device active
                <label class="toggle-eclair toggle">
                    <input type="checkbox" ng-model="ctlDeviceActive.value" ng-change="deviceActiveChanged()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <div class="list">
            <div class="item" style="color: #b2b2b2" ng-click="btnHome()">
                <i class="icon ion-home"></i>
                <span style="padding-left: 10px;">Home</span>
            </div>
            <label class="item item-input item-select" style="color: #b2b2b2" ng-click="btnBluetooth()" ng-init="init()">
                <i class="icon ion-bluetooth"></i>
                <span style="padding-left: 10px;">
                        {{bluetooth}}
                    </span>
                <select class="select" ng-model="selectedPrinter" ng-options="printer.name for printer in printerOptions"></select>
            </label>
            <div class="item" style="color: #b2b2b2" ng-click="btnHome()">
                <i class="icon ion-home"></i>
                <span style="padding-left: 10px;">Item 3</span>
            </div>
            <div class="item" style="color: #b2b2b2" ng-click="btnHome()">
                <i class="icon ion-home"></i>
                <span style="padding-left: 10px;">Item 4</span>
            </div>
            <div class="item" style="color: #b2b2b2" ng-click="btnHome()">
                <i class="icon ion-home"></i>
                <span style="padding-left: 10px;">Item 5</span>
            </div>
            <div class="item" style="color: #b2b2b2" ng-click="btnHome()">
                <i class="icon ion-home"></i>
                <span style="padding-left: 10px;">Item 6</span>
            </div>
            <div class="item" style="color: #b2b2b2" ng-click="btnHome()">
                <i class="icon ion-home"></i>
                <span style="padding-left: 10px;">Item 7</span>
            </div>
        </div>
    </ion-side-menu>
</ion-side-menus>

</body>
</html>

<script id="unauthorised-error.html" type="text/ng-template">
    <div class="item item-icon-left" style="border: 0; white-space: normal; background-color: transparent; padding: 12px 8px 12px 65px;">
        <i class="icon ion-close-circled" style="color: #E83836; font-size: 45px;"></i>
        Unauthorised access
    </div>
</script>

<script id="mismatched-error.html" type="text/ng-template">
    <div class="item item-icon-left" style="border: 0; white-space: normal; background-color: transparent; padding: 8px 8px 8px 65px;">
        <i class="icon ion-close-circled" style="color: #E83836; font-size: 45px;"></i>
        Mismatched order. Please check
    </div>
</script>

<script id="usercodeAndPin-Warning.html" type="text/ng-template">
    <div class="item item-icon-left" style="border: 0; white-space: normal; background-color: transparent; padding: 8px 8px 8px 65px;">
        <i class="icon ion-alert-circled" style="color: #FCC810 ; font-size: 45px;"></i>
        Unknown user code or pin
    </div>
</script>

<script id="noPatient-warning.html" type="text/ng-template">
    <div class="item item-icon-left" style="border: 0; white-space: normal; background-color: transparent; padding: 8px 8px 8px 65px;">
        <i class="icon ion-alert-circled" style="color: #FCC810 ; font-size: 45px;"></i>
        No patient found
    </div>
</script>

<script id="Pincode-modal.html" type="text/ng-template">
    <div class="row row-passCode" ng-init="initModal()">
        <div class="col" ng-if="passcode.substring(0, 1).length === 1">
            <button class="button icon ion-record button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(0, 1).length !== 1">
            <button class="button button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(1, 2).length === 1">
            <button class="button icon ion-record button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(1, 2).length !== 1">
            <button class="button button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(2, 3).length === 1">
            <button class="button icon ion-record button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(2, 3).length !== 1">
            <button class="button button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(3, 4).length === 1">
            <button class="button icon ion-record button-small button-light" disabled></button>
        </div>
        <div class="col" ng-if="passcode.substring(3, 4).length !== 1">
            <button class="button button-small button-light" disabled></button>
        </div>
    </div>
    <div class="row row-numbers">
        <div class="col col-numbers">
            <button class="button button-light button-stretch" ng-click="add(1)">1</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-light button-stretch" ng-click="add(2)">2</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-light button-stretch" ng-click="add(3)">3</button>
        </div>
    </div>
    <div class="row row-numbers">
        <div class="col col-numbers">
            <button class="button button-light button-stretch" ng-click="add(4)">4</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-light button-stretch" ng-click="add(5)">5</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-light button-stretch" ng-click="add(6)">6</button>
        </div>
    </div>
    <div class="row row-numbers">
        <div class="col col-numbers">
            <button class="button button-light button-stretch" ng-click="add(7)">7</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-light button-stretch" ng-click="add(8)">8</button>
        </div>
        <div class="col col-numbers">
            <button class="button button-light button-stretch" ng-click="add(9)">9</button>
        </div>
    </div>
    <div class="row row-numbers">
        <div class="col col-numbers">
            <button class="button ion-home button-light button-stretch" ng-click="goHome()"></button>
        </div>
        <div class="col col-numbers">
            <button class="button button-light button-stretch" ng-click="add(0)">0</button>
        </div>
        <div class="col col-numbers">
            <button class="button icon ion-backspace button-light button-stretch" ng-click="delete()"></button>
        </div>
    </div>
</script>