<div class="c1">
    <ion-list>
        <ion-item class="item">
            <h4 style="color: #00539F;">{{'UserLabel' | translate}}</h4>
            <h3 style="color: black">{{user.Name}}</h3>
        </ion-item>
        <ion-item class="item item-thumbnail-right">
            <img ng-if="patient.Gender == 'Female'" src="./images/Female.png" />
            <img ng-if="patient.Gender == 'Male'" src="./images/Male.png" />
            <h4 style="color: #00539F;">{{'PatientLabel' | translate}}</h4>
            <h3 style="color: black">{{patient.Name}} ({{patient.NHI}})</h3>
            <h3 style="color: black">{{patient.Gender}}, {{patient.DOB}},</h3>
            <h3 style="color: black">{{patient.Age}}</h3>
        </ion-item>
        <ion-item class="item item-text-wrap">
            <h4 style="color: #00539F;">{{'OrderLabel' | translate}}</h4>
            <h3 style="color: black">{{order.OrderId}}</h3>
        </ion-item>
    </ion-list>
</div>
<div class="c3">
    <div class="welcome-message">{{'CollectionMessage' | translate}}</div>
    <div class="card" style="margin: 10px 5px;">
        <div class="list">
            <div class="item item-checkbox" ng-repeat="item in order.chkboxSpecimens" style="font-size: 12px;">
                <label class="checkbox checkbox-eclair">
                    <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" ng-disabled="item.checked != true">
                </label>
                {{ item.name }}
            </div>
            <div class="button-bar">
                <button class="button button-block button-card icon-left ion-camera" style="border-right: 1px solid" ng-click="scanCode()">{{'ScanButton' | translate}}</button>
                <button class="button button-block button-card icon-right ion-arrow-right-a" ng-click="rightButtonClick()">{{'CompleteButton' | translate}}</button>
            </div>
        </div>
    </div>

</div>

<script id="dateTime-Confirm.html" type="text/ng-template">
    <span>Please confirm the date and time of the collection</span>
    <input ng-model="model.dateTime" style="color:steelblue; width: 100%; -webkit-appearance: none; -moz-appearance: none; text-align: right;" type="datetime-local">
    <span style="font-size:10px; text-align: center; position: absolute; right: 0; left: 0; color: Gray">Tap field to change date</span>
</script>