<div class="c1" ng-init="model = { userId: ''}"></div>
<div ng-if="isEmptyInput()" class="c3">
    <div class="list">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input ng-model="model.userId" type="text" placeholder="Scan or enter your ID" capitalise />
            </label>
            <button class="button button-clear icon-left ion-camera" style="color: #74B5E4;" ng-click="scanCode()">Scan</button>
        </div>
    </div>
</div>