<div class="c1"></div>
<div class="c3" ng-init="init()">
    <!--<div class="welcome-message">{{model.message}}</div>
    <hr />-->
    <div class="list">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input ng-model="idList.userId" type="text" placeholder="Scan or enter your ID" />
            </label>
            <button class="button button-clear icon-left ion-camera" ng-click="scanCode()">Scan</button>
        </div>
    </div>
</div>