<div class="c3">
    <div class="card" style="opacity: 0.85;">
        <form name="manageDeviceForm" ng-submit="updateDNS()">
            <div class="item item-text-wrap" style="color: #00539F">
                Please enter Eclair host domain name
            </div>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="color: #00539F;">Eclair server (include port)</span>
                    <input name="dns" ng-model="dns" type="text" required>
                </label>
            </div>
            <button type="submit" class="button button-block button-clear button-card">Amend</button>
        </form>
    </div>
</div>


