<div class="c1">
    <ion-list show-reorder="shouldShowEdit">
        <ion-item class="item item-text-wrap">
            <h4 style="color: #00539F;">{{'UserLabel' | translate}}</h4>
            <h3 style="color: black">{{user.Name}}</h3>
        </ion-item>
        <ion-item class="item item-thumbnail-right">
            <img ng-if="patient.Gender == 'Female'" src="./images/Female.png"/>
            <img ng-if="patient.Gender == 'Male'" src="./images/Male.png"/>
            <h4 style="color: #00539F;">{{'PatientLabel' | translate}}</h4>
            <h3 style="color: black">{{patient.Name}} ({{patient.NHI}})</h3>
            <h3 style="color: black">{{patient.Gender}}, {{patient.DOB}},</h3>
            <h3 style="color: black">{{patient.Age}}</h3>
        </ion-item>
        <ion-item class="item item-text-wrap">
            <h4 style="color: #00539F;">{{'OrderLabel' | translate}}</h4>
            <h3 style="color: black">{{order.OrderId}}</h3>
        </ion-item>
    </ion-list>
</div>
<div class="c3">
    <div class="card">
        <div class="item item-divider" style="background-image: linear-gradient(#00539F, #00539F); color: white;">
            {{'TestTableHeader' | translate}}
        </div>
        <ul class="list" >
            <li class="item" ng-repeat="t in order.Tests track by $index">
                <div style="color: black">{{t}}</div>
            </li>
        </ul>
    </div>
    <div class="card card-labels">
        <div class="item item-divider" style="background-image: linear-gradient(#00539F, #00539F); color: white;">
            {{'SpecimenTableHeader' | translate}}
        </div>
        <ul class="list">
            <li class="item item-text-wrap" ng-repeat="s in order.Specimens track by $index">
                <div style="color: black">{{s}}</div>
            </li>
        </ul>
        <div class="button-bar">
            <button class="button button-block button-card icon-left ion-printer" style="border-right: 1px solid" ng-click="printLabels()">{{'PrintLabelsButton' | translate}}</button>
            <button class="button button-block button-card icon-right ion-arrow-right-a" ng-click="rightButtonClick()">{{'CollectButton' | translate}}</button>
        </div>
    </div>
</div>

