<div class="c1" ng-init="init()">
    <ion-list show-reorder="shouldShowEdit">
        <ion-item class="item item-text-wrap">
            <h4>User</h4>
            <h3 style="color: #00539F;">{{user.Name}}</h3>
            <ion-reorder-button class="ion-edit" style="color: #68BD49"
                                on-reorder="reorderItem(item, $fromIndex, $toIndex)">
            </ion-reorder-button>
        </ion-item>
        <ion-item class="item item-thumbnail-right">
            <img ng-if="patient.Gender == 'Female'" src="./images/Female.png" />
            <img ng-if="patient.Gender == 'Male'" src="./images/Male.png" />
            <h4>Patient</h4>
            <h3 style="color: #00539F;">{{patient.Name}} ({{patient.NHI}})</h3>
            <h3 style="color: #00539F;">{{patient.Gender}}, {{patient.DOB}},</h3>
            <h3 style="color: #00539F;">{{patient.Age}}</h3>
            <ion-reorder-button class="ion-edit" style="color: #68BD49"
                                on-reorder="reorderItem(item, $fromIndex, $toIndex)">
            </ion-reorder-button>
        </ion-item>
        <ion-item class="item item-text-wrap">
            <h4>Order</h4>
            <h3 style="color: #00539F;">{{order.OrderId}}</h3>
            <ion-reorder-button class="ion-edit" style="color: #68BD49"
                                on-reorder="reorderItem(item, $fromIndex, $toIndex)">
            </ion-reorder-button>
        </ion-item>
    </ion-list>
</div>
<div class="c3">
    <div class="card">
        <div class="item item-divider" style="background-color: #68BD49">
            Testing Requested:
        </div>
        <ul class="list" >
            <li class="item" ng-repeat="t in order.Tests">
                <div style="color: #00539F">{{t}}</div>
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="item item-divider" style="background-color: #68bd49">
            Specimens to be collected:
        </div>
        <ul class="list">
            <li class="item item-text-wrap" ng-repeat="s in order.Specimens">
                <div style="color: #00539F">{{s}}</div>
            </li>
        </ul>
    </div>
</div>

