<div class="c3">
    <div class="card">
        <form name="adminLogon">
            <div class="item item-text-wrap" style="color: black; border: 0; font-weight: normal">
                {{'DeviceRegistrationMessage' | translate}}
            </div>
            <div class="list">
                <label class="item item-input item-stacked-label" style="border: 0">
                    <span class="input-label form_error" style="width: 10px;" ng-show="adminLogon.$submitted && adminLogon.userCode.$invalid">*</span>
                    <span class="input-label" style="color: black; font-weight: normal">{{'UserCodeLabel' | translate}}</span>
                    <input class="adminLogon_input" name="userCode" ng-model="userCode" type="text" required capitalise>
                </label>
                <label class="item item-input item-stacked-label" style="border: 0">
                    <span class="input-label form_error" style="width: 10px;" ng-show="adminLogon.$submitted && adminLogon.password.$invalid">*</span>
                    <span class="input-label" style="color: black; font-weight: normal">{{'PasswordLabel' | translate}}</span>
                    <input class="adminLogon_input" name="password" ng-model="password" type="password" required>
                </label>
            </div>
            <button class="button button-block button-clear button-card" ng-click="logonAdmin()">{{'LogonButton' | translate}}</button>
        </form>
    </div>
</div>


