<div class="c1" ng-init="init()">
    <div class="list">
        <div class="item item-text-wrap">
            <h4 style="color: #00539F;">{{'UserLabel' | translate}}</h4>
            <h3 style="color: black">{{user.Name}}</h3>
        </div>
        <div class="item item-thumbnail-right">
            <img ng-if="patient.Gender == 'Female'" src="./images/Female.png" />
            <img ng-if="patient.Gender == 'Male'" src="./images/Male.png" />
            <h4 style="color: #00539F;">{{'PatientLabel' | translate}}</h4>
            <h3 style="color: black">{{patient.Name}} ({{patient.NHI}})</h3>
            <h3 style="color: black">{{patient.Gender}}, {{patient.DOB}},</h3>
            <h3 style="color: black">{{patient.Age}}</h3>
        </div>
    </div>
</div>
<div class="c3">
    <div class="list">
        <div class="item item-icon-left" style="border: 0; white-space: normal;">
            <i class="icon ion-android-checkmark-circle" style="color: #68BD49; font-size: 45px;"></i>
            Collection for order <span style="color: #00539F">{{idList.orderId}}</span> complete
        </div>
        <div class="item item-icon-left" style="border: 0; white-space: normal;">
            <i class="icon ion-ios-information-outline" style="color: #0076BE; font-size: 45px;"></i>
            {{'RescheduleMessage' | translate}}
        </div>
        <div class="card">
            <div class="list" style="margin: 0 20px;">
                <div class="item item-checkbox" ng-repeat="item in order.chkboxSpecimens" style="font-size: 12px;">
                    <label class="checkbox checkbox-eclair">
                        <input type="checkbox" ng-checked="item.checked" disabled="disabled">
                    </label>
                    {{ item.name }}
                </div>
                <div class="button-bar">
                    <button class="button button-block button-card icon-left ion-calendar" style="border-right: 1px solid" ng-click="rightButtonClick()">Reschedule</button>
                    <button class="button button-block button-card icon-right icon-right ion-arrow-right-a" ng-click="rightButtonClick()">{{'CompleteButton' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="reschedule-Confirm.html" type="text/ng-template">
    <span>Please set the new date and time of the collection</span>
    <input ng-model="model.dateTime" style="color:steelblue; width: 100%; -webkit-appearance: none; -moz-appearance: none; text-align: right;" type="datetime-local">
    <span style="font-size:10px; text-align: center; position: absolute; right: 0; left: 0; color: Gray">Tap field to change date</span>
    <br />
    <span>Reason for rescheduling</span>
    <input style="color:steelblue; width: 100%;" type="text">
</script>