
<div class="c1" ng-init="model = { patientId: ''}">
    <ion-list show-reorder="shouldShowEdit">
        <ion-item class="item">
            <h4>User</h4>
            <h3 style="color: #00539F;">{{user.Name}}</h3>
            <!--<ion-option-button class="button-assertive">Edit</ion-option-button>-->
            <ion-reorder-button class="ion-edit" style="color: #00539F"
                                ng-click="editButtons.user()">
            </ion-reorder-button>
        </ion-item>
    </ion-list>
</div>

<div ng-if="isEmptyInput()" class="c3">
    <div class="list">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input ng-model="model.patientId" type="text" placeholder="Scan or enter patient NHI" capitalise />
            </label>
            <button class="button button-clear icon-left ion-camera" style="color: #74B5E4;" ng-click="scanCode()">Scan</button>
        </div>
    </div>
</div>
  